[submodule "docs/debops-contrib"]
	path = docs/debops-contrib
	url = https://github.com/debops-contrib/debops-contrib.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-firejail"]
	path = docs/ansible/roles/ansible-firejail
	url = https://github.com/debops-contrib/ansible-firejail.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-x2go_server"]
	path = docs/ansible/roles/ansible-x2go_server
	url = https://github.com/debops-contrib/ansible-x2go_server.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-apparmor"]
	path = docs/ansible/roles/ansible-apparmor
	url = https://github.com/debops-contrib/ansible-apparmor.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-btrfs"]
	path = docs/ansible/roles/ansible-btrfs
	url = https://github.com/debops-contrib/ansible-btrfs.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-fuse"]
	path = docs/ansible/roles/ansible-fuse
	url = https://github.com/debops-contrib/ansible-fuse.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-snapshot_snapper"]
	path = docs/ansible/roles/ansible-snapshot_snapper
	url = https://github.com/debops-contrib/ansible-snapshot_snapper.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-kernel_module"]
	path = docs/ansible/roles/ansible-kernel_module
	url = https://github.com/debops-contrib/ansible-kernel_module.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-checkmk_agent"]
	path = docs/ansible/roles/ansible-checkmk_agent
	url = https://github.com/debops-contrib/ansible-checkmk_agent.git
	ignore = untracked
