[submodule "docs/debops-contrib"]
	path = docs/debops-contrib
	url = https://github.com/debops-contrib/debops-contrib.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-firejail"]
	path = docs/ansible/roles/ansible-firejail
	url = https://github.com/debops-contrib/ansible-firejail.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-x2go_server"]
	path = docs/ansible/roles/ansible-x2go_server
	url = https://github.com/debops-contrib/ansible-x2go_server.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-apparmor"]
	path = docs/ansible/roles/ansible-apparmor
	url = https://github.com/debops-contrib/ansible-apparmor.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-btrfs"]
	path = docs/ansible/roles/ansible-btrfs
	url = https://github.com/debops-contrib/ansible-btrfs.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-fuse"]
	path = docs/ansible/roles/ansible-fuse
	url = https://github.com/debops-contrib/ansible-fuse.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-snapshot_snapper"]
	path = docs/ansible/roles/ansible-snapshot_snapper
	url = https://github.com/debops-contrib/ansible-snapshot_snapper.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-kernel_module"]
	path = docs/ansible/roles/ansible-kernel_module
	url = https://github.com/debops-contrib/ansible-kernel_module.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-checkmk_agent"]
	path = docs/ansible/roles/ansible-checkmk_agent
	url = https://github.com/debops-contrib/ansible-checkmk_agent.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-checkmk_server"]
	path = docs/ansible/roles/ansible-checkmk_server
	url = https://github.com/debops-contrib/ansible-checkmk_server.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-roundcube"]
	path = docs/ansible/roles/ansible-roundcube
	url = https://github.com/debops-contrib/ansible-roundcube.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-gdnsd"]
	path = docs/ansible/roles/ansible-gdnsd
	url = https://github.com/debops-contrib/ansible-gdnsd.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-etckeeper"]
	path = docs/ansible/roles/ansible-etckeeper
	url = https://github.com/debops-contrib/ansible-etckeeper.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-dropbear_initramfs"]
	path = docs/ansible/roles/ansible-dropbear_initramfs
	url = https://github.com/debops-contrib/ansible-dropbear_initramfs.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-volkszaehler"]
	path = docs/ansible/roles/ansible-volkszaehler
	url = https://github.com/debops-contrib/ansible-volkszaehler.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-foodsoft"]
	path = docs/ansible/roles/ansible-foodsoft
	url = https://github.com/debops-contrib/ansible-foodsoft.git
	ignore = untracked
[submodule "docs/ansible/roles/ansible-homeassistant"]
	path = docs/ansible/roles/ansible-homeassistant
	url = https://github.com/debops-contrib/ansible-homeassistant.git
	ignore = untracked
